.root {
    -fx-background-color: black;
}

#dateInfoLabel {
    -fx-font-size: 40px;
}

#timeInfoLabel {
    -fx-font-size: 160px;
}

#weatherCurrentOutsideTempInfoLabel {
    -fx-font-size: 40px;
}

#newsFeederInfoLabel {
    -fx-font-size: 30px;
}